a, a:visited, a:hover, a:active {
  color: #e73c3c;
  text-decoration: none;
}

p {
  font-family: Avenir-Medium;
  font-size: 18px;
  color: rgb(100,100,100);
  margin-top: 10px;
}

time {
  font-family: Avenir-Heavy;
  color: #e73c3c;
  font-size: 20px;
}

strong {
  font-family: Avenir-Black;
  font-size: 20px;
}

html {
  overflow:-x: hidden;
  width: 100%;
}

/* --------------------------------------------------------------------------------------
+
+ INDEX
+
-------------------------------------------------------------------------------------- */

.hero {
  background-image: initial;
  background: url(../img/index/macbook-hero.jpg) no-repeat;
  background-size: cover;
  height: 950px;
  background-position: center;
}

.hero h1 {
  font-family: Avenir-Book;
  font-size: 140px;
  text-align: center;
  margin-top: 250px;
}

.hero h2 {
  text-align: center;
  color: #fff;
  font-family: Menlo;
  font-size: 50px;
}

.hero h3 {
  text-align: center;
  color: #e65100;
  font-family: Menlo;
  font-size: 40px;
}

.last-name {
  color: rgb(255, 255, 255);
}

.first-name {
  color: #e65100;
  ;
}

.portfolio h1 {
  font-family: Avenir-Heavy;
  font-size: 54px;
  color: rgb(230, 81, 0);
  text-align: center;
  margin-top: 200px;
}

/* .left-portfolio {
  margin-top: 100px;
}

.app-icon {
  width: 90px;
  display: inline;
  margin-bottom: 10px;
}

.portfolio h2 {
  font-family: Avenir-Roman;
  font-size: 50px;
  color: rgb(100, 100,100);
  display: inline;
  margin-left: 30px;
  vertical-align: middle;
}

.portfolio h3 {
  font-family: Avenir-Heavy;
  font-size: 26px;
  color: #e73c3c;
  margin-top: 50px;
}

.app-store-button {
  background-image: url(../img/index/app-store-badge-web.png);
  background-size: 100%;
  border: none;
  width: 150px;
  height: 44px;
  margin-top: 50px;
  margin-right: 40px;
  display:inline;
}

.app-store-button:hover,
.app-store-button:active,
.app-store-button:focus {
  background-image: url(../img/index/app-store-badge-web.png);
  background-position: 0 0;
  outline: none !important;
}

.more-screens-btn {
  width: 150px;
  height: 44px;
  margin-top: 50px;
  border-radius: 8px;
  border: 2px solid #e73c3c;
  font-family: Avenir-Heavy;
  font-size: 15px;
  color: #e73c3c;
  background-color: transparent;
  background-image: initial;
  text-shadow: initial;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.more-screens-btn:hover {
  border: 2px solid #e73c3c;
  font-size: 15px;
  color: #ffffff;
  background-color: #e73c3c;
  background-image: initial;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.more-screens-btn:active,
.more-screens-btn:focus {
  outline: none !important;
  border: 2px solid #e73c3c !important;
  color: #ffffff !important;
  background-color: #e73c3c !important;
}

.portfolio-row {
  margin-top: 200px;
}

.fithero-disclaimer {
  color: #4aa6a0;
  font-style: italic;
}

.blog h1 {
  font-family: Avenir-Heavy;
  font-size: 54px;
  color: #e73c3c;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.blog-all-posts h1 {
  margin-top: 100px;
}

.blog-container {
  text-align: center;
  margin-top: 120px;
}

.blog-card {
  background-size: cover;
  width: 250px;
  height: 150px;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  box-shadow: 0px 20px 50px rgba(50, 50, 50, 0.5);
  transition: box-shadow 0.2s ease-out, color 0.2s ease-out;
}

.blog-card:hover {
  box-shadow: 0px 20px 50px rgba(50, 50, 50, 0.8);
  transition: box-shadow 0.2s ease-in, color 0.2s ease-in;
}

.blog-card h3 {
  font-family: Avenir-Heavy;
  color: white;
  vertical-align: middle;
  font-size: 28px;
  max-width: 220px;
}

.blog-row {
  margin-top: 50px;
}

.top-row {
  margin: auto;
  max-width: 300px;
}

.blog-post-column {
  margin-bottom: 50px;
}

.youtube-img {
	width: 400px;
	height: 249px;
	display: block;
	margin: auto;
	margin-top: 150px;
}

.youtube-btn {
	width: 260px;
	display: block;
	margin: auto;
	margin-top: 80px;
}

.youtube p {
	text-align: center;
}

.youtube-video-wrapper {
	width: 90%;
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
}

.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.youtube-container iframe,
.youtube-container object,
.youtube-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube-container iframe {
	width: 100%;
	height: 94%;
}

.podcasts-container {
  position: relative;
  padding-bottom: 100px;
  padding-top: 100px;
  margin-top: 30px;
  height: 0;
  overflow: hidden;
}

.podcasts-container iframe,
.podcasts-container object,
.podcasts-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.podcasts-container iframe {
  width: 100%;
  height: 94%;
} */

.footer {
  background-image: url(../img/index/footer-background-dull.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 250px;
}

.footer-image {
  background-image: url(../img/index/footer-pic.png);
  background-size: 100%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  margin-top: 40px;
}

.contact-icons {
  text-align: center;
  margin-bottom: 40px;
}

.contact-icons img {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 30px;
  width: 40px;
  height: 40px;
}

.footer p {
  color: white;
  font-size: 18px;
  margin-top: 30px;
}

.footer-info {
  background-color: rgba(158, 158, 158, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .hero {
    height: 800px;
  }

  .hero h1 {
    font-size: 120px;
    margin-top: 250px;
  }

  .hero h2 {
    font-size: 46px;
  }
}


@media (max-width: 991px) {
  .hero {
    height: 1024px;
  }

  .hero h1 {
    font-size: 100px;
    margin-top: 250px;
  }

  .hero h2 {
    font-size: 40px;
  }

  .phone {
    margin-bottom: 0px;
  }

  .blog-row {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .hero {
    height: 700px;
  }

  .hero h1 {
    font-size: 50px;
    margin-top: 250px;
  }

  .hero h2 {
    font-size: 22px;
  }

  .youtube-img {
	width: 350px;
	height: 218px;
  }
}

/* --------------------------------------------------------------------------------------
+
+ SCREEN MODAL
+
-------------------------------------------------------------------------------------- */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px;  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;  /*Enable scroll if needed*/
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(255,255,255,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
/* .modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #e73c3c;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
  color: #e73c3c;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 767px) {

  .modal-content {
    width: 100%;
  }

  .modal-close {
    top: 5px;
    right: 5px;
  }
} */



/* Another */

/* #projects {
    padding-top: 40px;
    padding-bottom: 40px;
}

.project-tile {
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-tile a {
    display: block;
    text-decoration-line: none;
    color: white;
    transition: color 0.3s;
}

.preview-image {
    width: 100%;
    transition: transform 0.3s, opacity 0.3s, filter 0.2s;
}

.project-tile:hover .preview-image {
    transform: scale(1.03);
    opacity: 0.4;
    filter: grayscale(100%);
    transition: transform 0.3s, opacity 0.3s, filter 0.2s;
}

.project-link-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.project-tile:hover .project-link-text {
    opacity: 1;
    transition: opacity 0.3s linear;
}

.project-link-text a:hover {
    color: rgb(67, 202, 255);
    transform: scale(1.04);
    transition: color 0.2s, transform 0.2s;
} */
